{% extends "base.html" %}
{% block title %}장고 첫프로젝트{% endblock %}


{% block content %}
{% load crispy_forms_tags %}
<!-- {{dataset}} -->
<div class="row mt-3 pt-3">
    <div class="col-md-4">
        <div class="border p-3 shadow">
            <h4>Add Data</h4>
            <form action="" method="post">
                {%csrf_token%}
                {{form | crispy}}
                <button class="btn btn-success btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
    <div id="map" style="width:500px;height:400px;"></div>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44f549c243e123f131c5dd5ab1efe956"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(36.982011, 127.936914),
            level: 3
        };
        var map = new kakao.maps.Map(container, options);        
    </script>
</div>
{% endblock %}


{% block part_script %}
<!-- chart.js CDN -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            // labels: ['대한민국', '이탈리아'],
            labels: [
                {%for data in dataset %}
                            '{{data.country}}', 
                        {% endfor %} 
                    ],
    datasets: [{
        label: '각 나라별 인구 수',
        // data: [50, 100],
        data: [
            {%for data in dataset %}
                        {{ data.population }},
    {% endfor %}
    ],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1
            }]
                },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
            });
</script> -->


{% endblock %}